div(class="header")
    nav(class="menu")
        ul
            li: a(href='/') Домашняя
            li: a(href='/auction') Аукцион:инфо
            li: a(href='/pictures') Список картин
            li: a(href='/participants') Список участников
            li: a(href='/auctionSettings') Настройки аукциона
            li: a(href='/admin') Аукцион:админ
