extends layout
block title
  | Index page
block content
  include ./header
  div(class='content')
    div(class='page-wrapper')
      div(class='mcontent-wrapper')
        h1 Аукцион
        p Лабораторная работа №4
        p Выполнил: Любчук, 6383
      div(class="right-panel-wrapper")
        img.image(src="../images/auction.png" class="indBook")
  include ./footer
